<section>
    <div class="container flex-column" *ngIf="detailDrink">
        <div class="row">
            <div class="col col-12 d-flex align-items-center">
                <h1 class="bg-yellow rounded-4 px-3 py-1 w-fc text-red">{{detailDrink.strDrink}}</h1>
                <div [class.bg-violet]="detailDrink.strAlcoholic === 'Alcoholic'" [class.bg-green]="detailDrink.strAlcoholic === 'Non alcoholic'" class="alcoholic m-3 h-50 py-3 px-2 text-white">
                    {{detailDrink.strAlcoholic}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-5">
                <figure class="mt-3">
                    <img [src]="detailDrink.strDrinkThumb" alt="" width="500" height="500" class="img-fluid rounded-2">
                </figure>
            </div>
            <div class="col col-7 flex-column mt-5">
                <h3 class="bg-yellow rounded-4 px-3 py-1 w-fc text-red" *ngIf="scelta === ''">Ingredients and quantities:
                </h3>
                <h3 class="bg-yellow rounded-4 px-3 py-1 w-fc text-red" *ngIf="scelta === 'IT'">Ingredienti e quantità:
                </h3>
                <h3 class="bg-yellow rounded-4 px-3 py-1 w-fc text-red" *ngIf="scelta === 'FR'">Ingrédients et quantités:
                </h3>
                <h3 class="bg-yellow rounded-4 px-3 py-1 w-fc text-red" *ngIf="scelta === 'DE'">Zutaten und Mengen:
                </h3>
                <h3 class="bg-yellow rounded-4 px-3 py-1 w-fc text-red" *ngIf="scelta === 'ES'">Ingredientes y cantidades:
                </h3>

                <ul>
                    <li class="text-yellow" *ngIf="detailDrink.strIngredient1 !== null"><span class="text-bold">{{detailDrink.strIngredient1}}</span> - {{detailDrink.strMeasure1}}</li>
                    <li class="text-yellow" *ngIf="detailDrink.strIngredient2 !== null"><span class="text-bold">{{detailDrink.strIngredient2}}</span> - {{detailDrink.strMeasure2}}</li>
                    <li class="text-yellow" *ngIf="detailDrink.strIngredient3 !== null"><span class="text-bold">{{detailDrink.strIngredient3}}</span> - {{detailDrink.strMeasure3}}</li>
                    <li class="text-yellow" *ngIf="detailDrink.strIngredient4 !== null"><span class="text-bold">{{detailDrink.strIngredient4}}</span> - {{detailDrink.strMeasure4}}</li>
                    <li class="text-yellow" *ngIf="detailDrink.strIngredient5 !== null"><span class="text-bold">{{detailDrink.strIngredient5}}</span> - {{detailDrink.strMeasure5}}</li>
                    <li class="text-yellow" *ngIf="detailDrink.strIngredient6 !== null"><span class="text-bold">{{detailDrink.strIngredient6}}</span> - {{detailDrink.strMeasure6}}</li>
                    <li class="text-yellow" *ngIf="detailDrink.strIngredient7 !== null"><span class="text-bold">{{detailDrink.strIngredient7}}</span> - {{detailDrink.strMeasure7}}</li>
                    <li class="text-yellow" *ngIf="detailDrink.strIngredient8 !== null"><span class="text-bold">{{detailDrink.strIngredient8}}</span> - {{detailDrink.strMeasure8}}</li>
                    <li class="text-yellow" *ngIf="detailDrink.strIngredient9 !== null"><span class="text-bold">{{detailDrink.strIngredient9}}</span> - {{detailDrink.strMeasure9}}</li>
                    <li class="text-yellow" *ngIf="detailDrink.strIngredient10 !== null"><span class="text-bold">{{detailDrink.strIngredient10}}</span> - {{detailDrink.strMeasure10}}</li>
                    <li class="text-yellow" *ngIf="detailDrink.strIngredient11 !== null"><span class="text-bold">{{detailDrink.strIngredient11}}</span> - {{detailDrink.strMeasure11}}</li>
                    <li class="text-yellow" *ngIf="detailDrink.strIngredient12 !== null"><span class="text-bold">{{detailDrink.strIngredient12}}</span> - {{detailDrink.strMeasure12}}</li>
                    <li class="text-yellow" *ngIf="detailDrink.strIngredient13 !== null"><span class="text-bold">{{detailDrink.strIngredient13}}</span> - {{detailDrink.strMeasure13}}</li>
                    <li class="text-yellow" *ngIf="detailDrink.strIngredient14 !== null"><span class="text-bold">{{detailDrink.strIngredient14}}</span> - {{detailDrink.strMeasure14}}</li>
                    <li class="text-yellow" *ngIf="detailDrink.strIngredient15 !== null"><span class="text-bold">{{detailDrink.strIngredient15}}</span> - {{detailDrink.strMeasure15}}</li>
                </ul>

                <h3 class="bg-yellow rounded-4 px-3 py-1 w-fc text-red mt-5" *ngIf="scelta === ''">Serving glass:
                </h3>
                <h3 class="bg-yellow rounded-4 px-3 py-1 w-fc text-red mt-5" *ngIf="scelta === 'IT'">Bicchiere per il servizio:
                </h3>
                <h3 class="bg-yellow rounded-4 px-3 py-1 w-fc text-red mt-5" *ngIf="scelta === 'FR'">Verre de service :
                </h3>
                <h3 class="bg-yellow rounded-4 px-3 py-1 w-fc text-red mt-5" *ngIf="scelta === 'DE'">Servierglas:
                </h3>
                <h3 class="bg-yellow rounded-4 px-3 py-1 w-fc text-red mt-5" *ngIf="scelta === 'ES'">Vaso para servir:
                </h3>

                <h4 class="text-yellow text-bold mt-3 ps-4">{{detailDrink.strGlass}}</h4>

            </div>
            <div class="col col-10">
                <div [ngSwitch]="scelta">
                    <div *ngSwitchCase="''">
                        <h3 class="bg-yellow rounded-4 px-3 py-1 w-fc text-red mb-3">Instructions: </h3>
                        <p class="text-yellow">{{detailDrink.strInstructions}}</p>
                    </div>
                    <div *ngSwitchCase="'FR'">
                        <h3 class="bg-yellow rounded-4 px-3 py-1 w-fc text-red mb-3">Instructions: </h3>
                        <p class="text-yellow">{{detailDrink.strInstructionsFR}}</p>
                    </div>
                    <div *ngSwitchCase="'DE'">
                        <h3 class="bg-yellow rounded-4 px-3 py-1 w-fc text-red mb-3">Anweisungen: </h3>
                        <p class="text-yellow">{{detailDrink.strInstructionsDE}}</p>
                    </div>
                    <div *ngSwitchCase="'ES'">
                        <h3 class="bg-yellow rounded-4 px-3 py-1 w-fc text-red mb-3">Instrucciones: </h3>
                        <p class="text-yellow">{{detailDrink.strInstructionsIT}}</p>
                    </div>
                    <div *ngSwitchDefault>
                        <h3 class="bg-yellow rounded-4 px-3 py-1 w-fc text-red mb-3">Istruzioni: </h3>
                        <p class="text-yellow">{{detailDrink.strInstructionsIT}}</p>
                    </div>
                </div>

            </div>

            <div class="col-12">
                <button (click)="changeLang('IT')" class="bg-yellow rounded-2 me-2 text-red">IT</button>
                <button (click)="changeLang('')" class="bg-yellow rounded-2 me-2 text-red">EN</button>
                <button (click)="changeLang('FR')" class="bg-yellow rounded-2 me-2 text-red">FR</button>
                <button (click)="changeLang('DE')" class="bg-yellow rounded-2 me-2 text-red">DE</button>
                <button (click)="changeLang('ES')" class="bg-yellow rounded-2 me-2 text-red">ES</button>
            </div>
        </div>

    </div>
    <h2 *ngIf="detailDrink === null" class="text-center">{{errore}}</h2>

    <div class="mt-4">
        <a routerLink=""><i class="bi bi-arrow-left-square text-yellow icon-50"></i></a>
    </div>
</section>